@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;200;300;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
html {
    font-size: 62.5%;
    font-family: 'M PLUS 1', sans-serif;
}
body {
    overflow-x: hidden;
    background-color: #000;
}
header {
    display: flex;
    flex-direction: row;
    /* background: black; */
    justify-content: space-around;
}
header ul  .con {
    display: none;
}
.nav-links {
    position: absolute;
    top: 0;
    z-index: 3;
text-align: center;
height: 100vh;
background-color: black;
padding: 18% 0 0;
width: 100%;
transition: .4s all;
transform: translateX(-100%);
}



.nav-links ul li {
    color: #fff;
    list-style: none;
    margin: 3% 10px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}

.fade {
    opacity: 1;
    transform: translateY(0px);
}
p {
cursor: pointer;
    font-size: 20px;
}
header ul li {
    color: #fff;
    list-style: none;
    margin: 0 10px 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}

header ul .menubtn {
    display: none;
}
header ul li:hover {
    opacity: 0.5;

}
header ul {
    display: flex;
    flex-direction: row;
    margin: 40px 100px 60px;

}
.tap {
display: none;


}

/* // media query laptop version */

@media (max-width:1024px){

header ul {
    display: none;
}


.tap {
 display: flex;
    padding: 20px;
    color: white;
    font-weight: 700;
    justify-content: space-between;
  
    }


}
span {
    color: #fff;
    opacity: 0;
    transition: .4s all;
display: inline-block;
  
}

header ul li {
    display: block;
}
.second {
    background: url(images/eyes\ eyebrow.svg);
    height: 80px;
    width: 80px;
    margin: 10px 0 0;
    z-index: 2;
position:absolute;
top: 0  ;
right: 0;
text-align: center;
left: 45%;
}
.balls {
    width:8px;
    height: 8px;
    margin: -5px 0 0;
    border-radius: 50%;
    background-color: white;
}
.second .third {
    background: url(images/eyes\ bg.svg);
    width: 60px;
    height: 60px;
    margin: 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;


}
.second .third img {
    width: 80%;
    margin: 4px 5px 0;

}
.second img {
    width: 100%;
}
.container {
    
 height: 100vh;
   z-index: 2;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(images/5e53d7ca678f9fd98b21de17_home-hero-image.jpg);
    background-size: cover;

    background-position: center;  
    /* clip-path: circle(100px); */
    transition: .3s;
}
.hero {
   height: 100vh;
}

.container h1 {
    color: #fff;
    text-align: center;
    font-size: 120px;
    line-height: 130px;
    cursor: pointer;
    padding: 4% 4% 0;
    font-weight: 700;
    transform: translateY(70px);
}
 .arrow {
     position: absolute;
    width: 30px;
    top: 90%;
    left: 50%;
    height: 30px;
animation: any 1s infinite;
animation-delay: 1s;
transition: 1s;
}


@keyframes any {
    from {
        margin-top: 7%;
    }
    to {
        margin-top: 5%;
    }
}
@media (max-width:1200px){
    .container h1 {
width: 90%;
font-size: 60px;
line-height: 60px;
margin: 0 3rem 0;
    }  
    header ul li {
     
        font-size: 17px;
    
    }
 
}


/* service section */

.service-sec {
    width: 100%;
    height: 100vh;
    background-color: black;
}
.service-sec h2 {
    color:white;padding: 8rem 10rem 0;
    text-align: center;
    font-size: 6rem;
    font-weight: 500;
}
.service-row {
    align-items: center;
    display: flex;
    margin: 10rem 0 0;
   
    justify-content: space-evenly;

}
.service-col {
    width: 300px;
    text-align: center;
}
.service-col h4 {
    color: white;
    margin: 2rem 0 0;
    font-size: 2.5rem;
}
.service-col .fas {
    font-size: 5rem;
    color:white;
    margin: 0.95rem 0;
}
.service-col .icon {
    background: url(images/eyes\ eyebrow.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    transition: .3s all;
}
.service-col .icon:hover {
transform: scale(1.2);
}
@media (max-width:1200px){
    .service-row {
       flex-direction: column;
       align-items: center;
    
    } 
    .service-col {
     margin: 4rem 0 0;
    }

}
@media (max-width:1200px){
.service-sec h2 {
    font-size: 3rem;
}
 
}
/* ---management section  */
.manage-sec {
    height: 100vh;
    position: relative;
    width: 100%;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(./images/section.jpg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
   
   justify-content: center;
}
.manage-1 {
    display: flex;
    /* transform: translate(-50%, -50%); */
    color: white;
    position: absolute;
    top: 50%;
    justify-content: space-between;
    width: 100%;
}
.manage-1 .left {
    transform: rotate(-90deg);
    font-size: 3rem;
    width: 10%;
}
.manage-1 .right {
    transform: rotate(-90deg);
    font-size: 3rem;
    width: 10%;

}
.manage-cont {
    line-height: 1;
    font-size: 12rem;
    /* color: white; */
    font-weight: 600;
    text-align: center;
   fill: aqua;
  
    
}