* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body {
    overflow-x: hidden;
}
header {
    display: flex;
    flex-direction: row;
    /* background: black; */
    justify-content: space-around;
}
header ul  .con {
    display: none;
}
.nav-links {
    position: absolute;
    top: 10%;
text-align: center;
height: 100vh;
background-color: black;

width: 100%;
display: none;
}



.nav-links ul li {
    color: #fff;
    list-style: none;
    margin: 8% 10px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}
h1 {
    margin: 0 auto;
transform: translateY(150px);
text-align:justify;
width: 900px;


}

header ul li {
    color: #fff;
    list-style: none;
    margin: 0 10px 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}

header ul .menubtn {
    display: none;
}
header ul li:hover {
    opacity: 0.5;

}
header ul {
    display: flex;
    flex-direction: row;
    margin: 40px 200px 60px;

}
span {
    color: #fff;
    opacity: 0;
    transition: .4s all;
display: inline-block;
  
}

.fade {

    opacity: 1;
    color: #fff;
    transform: translateY(-150px);
}

header ul li {
    display: block;
}
.second {
    background: url(images/eyes\ eyebrow.svg);
    height: 80px;
    width: 80px;
    margin: 10px 0 0;
    z-index: 1;
position: fixed;
right: 0;
text-align: center;
left: 45%;


}
.second .third {
    background: url(images/eyes\ bg.svg);
    width: 60px;
    height: 60px;
    margin: 10px 10px 0;


}
.second .third img {
    width: 80%;
    margin: 4px 5px 0;

}
.second img {
    width: 100%;
}
.container {
    
    height: 140vh;
   z-index: 2;
    width: 100%;
    background: url(images/5e53d7ca678f9fd98b21de17_home-hero-image.jpg);
    background-size: cover;
    background-position: center;  
}

 .cursor {
    background: transparent;
    transform: scale(1.3);
    position: fixed;
    transform: translate(-50% ,-50%);
    border: 1px solid red;
    width: 100px;
    height: 100px;border-radius: 50%;
    z-index: -12;
}






.container h1 {
    color: #fff;
    text-align: center;
    font-size: 150px;
    line-height: 130px;
    cursor: pointer;
    padding: 4% 0 0;
    font-weight: 700;
}
.container .arrow {
    width: 30px;
    margin: 7% auto;
    height: 30px;
animation: any 1s infinite;
animation-delay: 1s;
transition: 1s;
margin-bottom: 5%;

}
/* .container .arrow img { */
    /* width: 10%; */


@keyframes any {
    from {
        margin-top: 7%;
    }
    to {
        margin-top: 5%;
    }
}
