* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
body {
    overflow-x: hidden;
}
header {
    display: flex;
    flex-direction: row;
    /* background: black; */
    justify-content: space-around;
}
header ul  .con {
    display: none;
}
.nav-links {
    position: absolute;
    top: 10%;
text-align: center;
height: 100vh;
background-color: black;

width: 100%;
display: none;
}



.nav-links ul li {
    color: #fff;
    list-style: none;
    margin: 8% 10px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}
h1 {
    margin: 0 auto;
transform: translateY(150px);
text-align:justify;
width: 900px;


}

header ul li {
    color: #fff;
    list-style: none;
    margin: 0 10px 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
}

header ul .menubtn {
    display: none;
}
header ul li:hover {
    opacity: 0.5;

}
header ul {
    display: flex;
    flex-direction: row;
    margin: 40px 200px 60px;

}
span {
    color: #fff;
    opacity: 0;
    transition: .4s all;
display: inline-block;
  
}

.fade {

    opacity: 1;
    color: #fff;
    transform: translateY(-150px);
}

header ul li {
    display: block;
}
.second {
    background: url(images/eyes\ eyebrow.svg);
    height: 80px;
    width: 80px;
    margin: 10px 0 0;
    z-index: 1;
position: fixed;
right: 0;
text-align: center;
left: 45%;


}
.second .third {
    background: url(images/eyes\ bg.svg);
    width: 60px;
    height: 60px;
    margin: 10px 10px 0;


}
.second .third img {
    width: 80%;
    margin: 4px 5px 0;

}
.second img {
    width: 100%;
}
.container {
    
    height: 140vh;
   z-index: 2;
    width: 100%;
    background: url(images/5e53d7ca678f9fd98b21de17_home-hero-image.jpg);
    background-size: cover;
    background-position: center;
    
    
    
}


 .cursor {
    /* position: fixed;

    

   
    transition: 0.1s;
    transform: translate(-50% ,-50%);
    pointer-events: none; */
    background: transparent;
    transform: scale(1.3);
    position: fixed;
    transform: translate(-50% ,-50%);
    border: 1px solid red;
    width: 100px;
    height: 100px;border-radius: 50%;
    z-index: -12;
}



/* .link-grow {
    background: black;
    transform: scale(1.3);
    position: fixed;
    transform: translate(-50% ,-50%);
} */


.container h1 {
    color: #fff;
    text-align: center;
    font-size: 150px;
    line-height: 130px;
    cursor: pointer;
    padding: 4% 0 0;
    font-weight: 700;
}
.container .arrow {
    width: 30px;
    margin: 7% auto;
    height: 30px;
animation: any 1s infinite;
animation-delay: 1s;
transition: 1s;
margin-bottom: 5%;

}
/* .container .arrow img { */
    /* width: 10%; */


@keyframes any {
    from {
        margin-top: 7%;
    }
    to {
        margin-top: 5%;
    }
}
.container-2 {
    /* margin-top: 17%; */
    /* position:absolute; */
    height: 40vh;
    /* top: 86%; */
    width: 100%;
    z-index: 2;
    background-color: black;
}
@media (max-width:960px) {
header ul li {
    display: none;
}
header ul .con {
    background-color: black;
    display: block;
    font-size: 19px;

}


header ul .menubtn {
    display: block;
    font-size: 19px;
}
.container h1 {
    font-size: 80px;
    line-height: 70px;
}
header ul {
    margin: 40px 90px 60px;
}
}


@media (max-width:440px) {
    .container h1 {
        font-size: 60px;
        
    }  
    header ul .menubtn {
        background-color: black;
    }
    header  {
        flex-direction: row;
        background-color: black;

    } 
    header ul {
        margin: 40px 30px 40px;
    }
    .second {
  
        left: 36%;
        
        
        }
        .container h1 {
            color: #fff;
            text-align: center;
            font-size: 40px;
            line-height: 40px;
            padding: 10% 0 0;
            font-weight: 400;
        }
      
}
.container-2 {
    width: 100%;
    height: 120vh;
    /* bottom: 5%; */
    /* background: #fff4f2; */
    /* background-color: rgb(156, 148, 148); */
padding-bottom: 10%;
}
.container-2 h1 {
    color: #fff;
    font-size: 70px;
    padding: 10%;
    font-weight: 500;
text-align: center;
line-height: 70px;
}
.container-2 .row-1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.col-1 {
   
    width: 230px;
    height: 200px;
   
} 
.col-1 h2 {
    text-align: center;
    color: #fff;
    margin: 40px 0 0;
    line-height: 35px;
}
.col-1 .square img {
    margin: 15px 15px 0;
    text-align: center;
}
.col-1 .square {
    background: url(images/eyes\ eyebrow.svg);
    height: 80px;
    width: 80px;
    margin: 5px auto;
}
@media (max-width:960px) {
  .container-2 h1 {
      font-size: 30px;
line-height: 35px;

  }
  .container-2 .row-1 {
    display: flex;
align-items: center;
    flex-direction: column;
    padding-bottom: 70%;
}

    }

/* -- section - 3 --- */
.container-3 {
    width: 100%;
    height: 70vh;
background-color: black;
/* position:relative; */
/* bottom: 0; */
}
.container-3 h1 {
    font-size: 90px;
color: #fff;
/* width: 0%; */
/* margin: 0 15% 0; */
  text-align: center;

               line-height: 90px;
        font-weight: 600;
}

.row-2 {
    display: flex;
padding-top: 20%;
justify-content: space-around;
}
 .container-3 h3 , h1, h4 {
     color: #fff;
 }
 .container-3 .col-3 h3 {
     transform: rotate(-90deg);
     font-size: 25px;
text-transform: uppercase;


 }
 .container-3 .col-5 h4 {
     transform: rotate(-90deg);
     font-size: 25px;
text-transform: uppercase;
 }
 @media (max-width:960px) {

  .container-3 .col-4 h1 {
font-size: 50px;
line-height: 40px;

  }
  .row-2 {
    display: flex;
padding-top: 70%;
justify-content:space-evenly;
}
      }
      @media (max-width:440px) {
       
        .row-2 {
         justify-content:center;
        padding-top: 120%;
      
        }
        .container-3 h1 {
            font-size: 40px;
        color: #fff;
        /* width: 50%; */
        margin: 0 0 0;
        text-align: center;
         
                   
        }
    }
    @media (max-width:440px) {
        .container-3 .col-4 h1 {
            font-size: 30px;
            
        } 
    }
 .container-4 {
 width: 100%;

padding-top: 18%;
 height: 90vh;

background-color: black;
 }
 .container-4  h1 {
font-size: 100px;
line-height: 100px;

width: 70%;
text-align: center;
margin-left: 15%;
 }
 @media (max-width:960px) {

    .container-4 h1 {
 font-size: 50px;
 line-height: 40px;
 padding-top: 40%;

 text-align: center;
 margin: 0 15% 0;
  }

        }
        @media (max-width:440px) {
            .container-4 h1 {
                font-size: 30px;
                
            } 
        }
.container-5 {
    width: 100%;
    
    padding: 12% 0 0;
    height: 90vh;
    text-align: center;
   background-color: black;
    }
    .container-5  h1 {
   font-size: 100px;
   line-height: 100px;
   width: 70%;
   margin-left: 15%;
   margin-bottom: 12%;
    }
.container-5 a {
text-decoration: none;

    padding: 12px 30px 12px;
    color: black;
    background-color: #fff;
    letter-spacing: 1px;
}
@media (max-width:960px) {

    .container-5 h1 {
 font-size: 50px;
 line-height: 40px;
 padding-top: 40%;
  }
        }
        @media (max-width:440px) {
            .container-5 h1 {
                font-size: 30px;
                
            } 
        }


.container-6 {
    width: 100%;
    height: 100vh;
background-color: black;
/* position:relative; */
/* bottom: 0; */
}
.container-6 h1 {
    font-size: 90px;
color: #fff;
width: 90%;
margin: 0 4% 0;
  text-align: center;

               line-height: 90px;
        font-weight: 600;
}
@media (max-width:960px) {

    .container-6 h1 {
 font-size: 50px;
 line-height: 40px;
 padding-top: 40%;

  }
        }
        @media (max-width:440px) {
            .container-6 h1 {
                font-size: 30px;
                
            } 
         
        }

.row-3 {
    display: flex;
padding-top: 20%;
justify-content: space-around;
}
 .container-6 h3 , h1, h4 {
     color: #fff;
 }
 .container-6 .col-6 h3 {
     transform: rotate(-90deg);
     font-size: 25px;
text-transform: uppercase;


 }
 .container-6 .col-8 h4 {
     transform: rotate(-90deg);
     font-size: 25px;
text-transform: uppercase;
 }

 .container-7 {
    width: 100%;
    
    padding: 12% 0 0;
    height: 90vh;
    text-align: center;
   background-color: black;
    }
    .container-7  h1 {
   font-size: 100px;
   line-height: 100px;
   width: 70%;
   margin-left: 15%;
   margin-bottom: 12%;
    }
    @media (max-width:960px) {

        .container-7 h1 {
     font-size: 50px;
     line-height: 40px;
     padding-top: 40%;
      }
            }
            @media (max-width:440px) {
                .container-7 h1 {
                    font-size: 30px;
                    
                } 
                .container-7 h1 {
                 
                    padding-top: 6%;
                     }
            }
.container-7 a {
text-decoration: none;

    padding: 12px 30px 12px;
    color: black;
    background-color: #fff;
    letter-spacing: 1px;
}
.container-8 {
    width: 100%;
    height: 220vh;
    background-color: black;
    text-align: center;
}
 .container-8 h1 {
     font-size: 100px;
    padding-top: 25%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10%;
 }

.container-8 h3 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 1%;
    font-weight: 300;
}  
.container-8 hr {
    width: 80%;
    margin: 0em auto;
}
.container-8 span {
    margin: 0 0 0;
}
.container-8 p {
    color: #fff;
    width: 70%;
    margin: 2% auto 7%;
    text-align: center;
   
/* opacity: 0; */
/* transform: tra; */

  
    transition: .3s all ease;
}
#close ,  #close2 , #close3 , #close4{
    transition: .3s all;
}
.container-8 .para , .container-8 .paragraph , .container-8 .paragraph-2 , .container-8 .write , .container-8 .lang{
    opacity: 0;
}

/* .container-8 .paragraph {
    opacity: 0;
    display: block;

} */
.container-8 a {
    text-decoration: none;

        padding: 10px 15px 10px;
        color: black;
        background-color: #fff;
        letter-spacing: 1px;
 
        
    }
    @media (max-width:960px) {

        .container-8 h1 {
     font-size: 50px;
     line-height: 40px;
     padding-top: 40%;
      }
      .container-8 hr {
          width: 70%;
      }
      .container-8 h3 , span {
          font-size: 20px;
      }
      .container-8 h3 {
          text-align: center;
      }
            }
            @media (max-width:440px) {
                .container-8 h1 {
                    font-size: 30px;
                    
                } 
                .container-8 h1 {
                
                    padding-top: 4%;
                     }
            }
    .container-9 {
        width: 100%;
        height: 150vh;
        background-color: black;
    }
    .container-9 h1 {

        font-size: 100px;
        padding-top: 14%;
        text-align: center;
        font-weight: 600;
        

    }
    .container-9 .row-3 {
        display: flex;
        margin-top: -7%;
        justify-content: space-around;
    }
    .container-9 .col-11 h3 {
        color: #fff;
        font-weight: 300;
        text-align: center;
        line-height: 40px;
    }
    .container-9 hr {
        width: 90%;
        margin: 15% auto;
    }
    @media (max-width:960px) {

        .container-9 h1 {
     font-size: 50px;
     line-height: 40px;
     padding-top: 40%;
      }
      .container-9 .row-3 {
        display: flex;
        margin-top: 0%;
        flex-direction: column;
    }
    .container-9 .col-11 {
        margin-top: 5%;
    }
            }
            @media (max-width:440px) {
                .container-9 h1 {
                    font-size: 30px;
                    padding-top: 8%;
                }
                } 
              
      
    .container-10 {
        width: 100%;
        height: 90vh;
        background-color: black;
        text-align: center;
    }
    .container-10 h1 , p, h6,a {
        color: #fff;
        text-align: center;
    }
    .container-10 h1 {
        font-size: 100px;
 margin-bottom: 4%;       
        text-align: center;
        font-weight: 600;
    }
    .container-10 hr {
        width: 90%;

margin: 8% auto;    }
.container-10 a {
    margin:  0 auto;
}
.container-10 .btn-all {
    text-decoration: none;
/* margin: 10% 0 0; */
    padding: 12px 30px 12px;
    color: black;
    background-color: #fff;
    letter-spacing: 1px;
}
.container-10 h3 {
    color: #fff;
    margin-top: -7%;
    font-size: 30px;
    font-weight: 400;
}
.container-10 h6 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px;
    margin: 2% 0 12px;
}
.container-10 a {
    text-decoration: none;
    margin:  0 12px 0;
    
}
.container-10 .line-3 {
    margin-top: 30px;
}
.container-10 .last-footer {
    display: flex;
    justify-content: space-between;
    margin: -6% 5% 0;
}
@media (max-width:960px) {

    .container-10 h1 {
 font-size: 50px;
 line-height: 40px;
 padding-top: 5%;
  }
  .container-10 {
   
    height: 150vh;
   
}
.container-10 .last-footer {
    display: flex;
  flex-direction: column;
    margin: 0% 0% 0;
}
.container-10 {
 
    height: 220vh;
  
}}
@media (max-width:800px) {

    .container-10 h1 {
 font-size: 50px;
 line-height: 40px;
 padding-top: 80%;
  }
  .container-10 {
   
    height: 150vh;
   
}
.container-10 .last-footer {
    display: flex;
  flex-direction: column;
    margin: 0% 0% 0;
}
.container-10 {
 
    height: 220vh;
  
}
        }
        @media (max-width:440px) {
            .container-10 h1 {
                font-size: 30px;
                margin-bottom: 10%;
                
            } 
            .container-10 .btn-all {
           margin-bottom: 5%;
            
             
            }
            .container-10 {
   
                height: 90vh;
               
            }
            .container-10 hr {
              
        width: 60%;
        margin: 8% auto; 
        }
        }